.header {
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    .nav-list{
        display: flex;
        justify-content: space-around;

        .link{
            color: black;
            text-decoration: none;
        }

    }
}